state/
runs/
__pycache__/
.pytest_cache/
.venv/
*.egg-info/
*.log
*.jou
.Xil/

# generated demo outputs
demos/*/programs/*/data.csv

# frontend dependencies
node_modules/
src/frontend/node_modules/
src/web_api/static
.env
